*{
    font-family: "Roboto", "Times New Roman", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #F9FAF8;
}
ol, ul{
    list-style: none;
    display: flex;
}
em{
    font: lighter italic;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
.darkbluebg{
    background-color: #1F2937;
}
.bluebg{
    background-color: #3882F6;
}
.graybg{
    background-color: #E5E7EB;
}
.white{
    color: #F9FAF8;
}
.gray{
    color: #E5E7EB;
}
.black{
    color: #1F2937;
}
.fortyeight{
    font-size: 48px;
}
.twentyfour{
    font-size: 24px;
}
.thirtysix{
    font-size: 36px;
}
.extrabold{
    font: bolder;
}
.square{
    height: 200px;
    width: 200px;
    border: solid 2px #3882F6;
    border-radius: 25px;
}
.flex{
    display: flex;
}
.logo{
    width: 300px;
    height: auto;
}
.smallpadding{
    padding-left: 10%;
    padding-right: 10%;
}
.bigpadding{
    padding-left: 20%;
    padding-right: 20%;
}
.paddingupdown{
    padding-top: 10%;
    padding-bottom: 10%;
}
.justifycenter{
    justify-content: center;
}
.justifybetween{
    justify-content: space-between;
}
.aligncenter{
    align-items: center;
}
.flexone{
    flex: 1;
}
.littlebar{
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 0 0 0;
}