*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #F9FAF8;
}
ol, ul, li{
    list-style: none;
    display: flex;
}
em{
    font: lighter italic;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
.darkbluebg{
    background-color: #1F2937;
}
.bluebg{
    background-color: #3882F6;
}
.graybg{
    background-color: #E5E7EB;
}
.white{
    color: #F9FAF8;
}
.gray{
    color: #E5E7EB;
}
.black{
    color: #1F2937;
}
.fortyeight{
    font-size: 48px;
}
.twentyfour{
    font-size: 24px;
}
.thirtysix{
    font-size: 36px;
}
.extrabold{
    font: bolder;
}
.square{
    height: 200px;
    width: 200px;
    border: solid 4px #3882F6;
    border-radius: 25px;
}
.boxaroundsquare{
    width: 200px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.flexone{
    flex: 1;
}
.flexthree{
    flex: 3;
}
.wrap{
    flex-wrap: wrap;
}
.logo{
    width: 300px;
    height: auto;
}
.smallpadding{
    padding-left: 15%;
    padding-right: 15%;
}
.bigpadding{
    padding-left: 23%;
    padding-right: 23%;
}
.paddingupdown{
    padding-top: 8%;
    padding-bottom: 8%;
}
.smallpaddingupdown{
    padding-top: 4%;
    padding-bottom: 4%;
}
.justifycenter{
    justify-content: center;
}
.justifybetween{
    justify-content: space-between;
}
.justifyevenly{
    justify-content: space-evenly;
}
.justifyright{
    justify-content: end;
}
.aligncenter{
    align-items: center;
}
.aligncontent{
    align-content: center;
}
.littlebar{
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 0 1 auto;
}
.gap{
    gap: 5%;
}
.textcenter{
    text-align: center;
}